sentence_transformers
loguru
google-generativeai
openai
scikit-learn==1.2.2
nltk
kneed
pandas
git+https://github.com/joshcarty/google-searchconsole
google-auth
google-api-python-client
google-auth-oauthlib
python-dotenv
umap-learn
hdbscan